@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@600&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.relative {
  position: relative;
}

::v-deep .h1 {
  font-family: 'Lora', serif;
  font-size: 40px;
  line-height: 42px;
}

::v-deep .h2 {
  font-family: 'Lora', serif;
  font-size: 36px;
  line-height: 38px;
}

::v-deep .h3 {
  font-family: 'Lato', serif;
  font-size: 36px;
  line-height: 38px;
}

::v-deep .h4 {
  font-family: 'Lato', serif;
  font-size: 24px;
  line-height: 26px;
  color: $purple-text;
}

::v-deep p {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $black-main;
}

.main--text {
  color: $black-main;
}

.main-sub--text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.button-main {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  background-color: $pink !important;
}


::v-deep .v-btn--outlined {
  border-color: $pink;
  color: $pink;
}

.v-toolbar__items {
  ::v-deep .menu-header--nav {
    background-color: transparent !important;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
}
.theme--light.v-app-bar.v-toolbar.v-sheet.menu-header {
  background-color: $pink-menu;
  padding: 25px 0;
}